body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-nav {
  display: flex;
}
.container.header-container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
}

/*Лого*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  width: 145;
}

.logo-nav {
  color: #2196f3;
}

.header-nav-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  margin-right: 93px;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.header.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

/*.header.list .item-header + .item-header {
    margin-left: 50px;
}*/

.header.list .item-header:not(:last-child) {
  margin-right: 50px;
}

.item-header {
  position: relative;
}

/*.item-header .link-header:not(:last-child) {
    margin: right 50px; 
    background-color: aqua;
}*/

.link-header {
  color: #000;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header-nav.link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: #2196f3;
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.link-header .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.link-header:hover,
.link-header:focus,
.email-telefone:hover,
.email-telefone:focus,
.adress:hover,
.adress:focus,
.mail-tel:hover,
.mail-tel:focus {
  color: #2196f3;
}

.list-email {
  margin-left: auto;
  /*background-color: aquamarine;*/
}

.email-telefone {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.item-email {
     align-items: center;}*/

.list-email .item-email:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Шапка*/

.title-main {
  /*background: #2F303A;
   font-weight: 900;
   line-height: 1.36;
   font-size: 44px;
   height: 600px;
   text-transform: uppercase;*/
  text-align: center;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  max-width: 1600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/18710.jpg");
}

.title-hero {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 696px;
}

.container.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/*Button*/
.button {
  display: inline-block;
  font-family: inherit;
  background: #2196f3;
  color: #ffffff;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  padding: 10px 32px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;

  transform: translate(-50%, -50%);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #188ce8;
}

/*Форма*/

.form-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

/*.form-contact {
  display: block;
  
  text-align: center;
}*/

.form-label {
  display: block;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

.form-label-comments {
  display: block;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.form-name {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-input-container {
  position: relative;
  display: block;
}

.form-input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;

  line-height: 14px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  border-color: #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

/*textarea {
  
}*/

.form-comments {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  margin: 0;
  width: 100%;
  height: 100px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments:focus,
.form-comments:hover {
  border-color: #2196f3;
}

/*Чекбокс*/
.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  /*display: inline-block;
  margin-right: 7px;
  border: 2px solid color #212121;
  border-radius: 2px;
  outline: none;
  position: absolute;
  fill: #ffffff;*/

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .custom-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #000;
  fill: #ffffff;
}

.checkbox-input:checked + .custom-checkbox .checkbox-icon {
  opacity: 1;
}

.checkbox-input:focus + .custom-checkbox {
  border-color: #2196f3;
}

/*.checkbox-icon {
  
  fill: #ffffff;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
  cursor: pointer;
}

.checkbox-link {
  color: #2196f3;
}

.checkbox-button {
  display: inline-block;
  font-family: inherit;
  background: #2196f3;
  color: #ffffff;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  padding: 10px 32px;
  margin-bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-button:hover,
.checkbox-button:focus {
  background-color: #188ce8;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Особенности*/

.specific {
  background: #ffffff;
  padding-top: 94px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.desc-specific {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.specific-subtitle {
  width: 270px;
  align-items: center;
}

.specific-icon {
  display: flex;
  width: auto;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

/*Чем мы занимаемся*/

.list.specific-list .item {
  width: 270px;
  /*margin-top: 50px;
    padding-bottom: 94px;*/
}

.job {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.subject-list,
.list {
  display: flex;
}

.subtitle .item + .item,
.subject-list .item + .item,
.specific-list .item + .item,
.list .item-team + .item-team {
  margin-left: 30px;
}

.job .item {
  position: relative;
}

.text-subject {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 27px 85px;*/
}

/*Наша команда*/
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.item-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-div {
  background: #ffffff;
  padding: 30px 10px;
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.our-team.team-name {
  background-color: #ffffff;
}

.team-proficion {
  line-height: 1.19;
  color: #757575;
  text-align: center;
  letter-spacing: 0.03em;
}

/*--Социальные иконки--*/

.social {
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social-team {
  justify-content: center;
  align-items: center;
}

.social .social-team + .social-team {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Наши клиенты*/

.regular-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.list-client {
  align-items: center;
  justify-content: center;
}

.link-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover {
  border: 1px solid #2196f3;
}

.link-client:hover .icon-client,
.link-client:focus .icon-client {
  fill: #2196f3;
}

.icon-client {
  fill: #afb1b8;
}

.list .list-client + .list-client {
  margin-left: 30px;
}

/*footer*/
.footer {
  background: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.list-footer {
  list-style: none;
}

.adress {
  color: #ffffff;
}

.adress.link {
  margin-top: 20px;
}

.list-footer .footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer.list {
  display: block;
}

.mail-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/*.container-footer {
  margin-left: 215px;
}*/

.footer-cosial {
  margin-left: 70px;
}

.footer-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icon {
  fill: #ffffff;
}

.footer-link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
}

/*Подпищитесь на рассылку*/

.footer-subscribe {
  margin-left: 93px;
}

.text-subscribe {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: #2196f3;
}

.subscribe-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  margin-left: 10px;
  fill: currentColor;
}

/*Портфолио*/

.navigation {
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 92px;
  /*background-color: tomato;*/
}

.button-navigation {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  display: block;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-navigation:hover,
.button-navigation:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-navigation .li-navigation:not(:last-child) {
  margin-right: 8px;
  /*.list-footer .footer-list:not(:last-child) {
        margin-bottom: 9px;*/
}

.list-navigation {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
  justify-content: center;
}

/*--Примеры проектов--*/

.list-flexbox {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /*outline: 1px solid tomato;*/
  margin-left: -30px;
  margin-top: -30px;
}

.list-flexbox .element {
  /*outline: 1px solid #ea2ca4;*/
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3-30px);
}

.element-flexbox {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #eeeeee;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.gallery.link:hover .paragraph,
.gallery.link:focus .paragraph {
  transform: translateY(0);
}

.paragraph {
  position: absolute;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery.link {
  display: block;
  margin-top: 0px;
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element .gallery.link:hover,
.element .gallery.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progect {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  /*margin-top: 20px;*/
}

.desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
